web3==7.8.0  # Untuk interaksi dengan blockchain Ethereum (smart contracts, wallet, dll.)
eth-account  # Untuk mengelola akun Ethereum dan kunci pribadi
requests  # Untuk HTTP requests (misalnya, ke RPC jaringan Nexus)
rich==  # Untuk tampilan terminal yang interaktif dan tabel real-time
python-dotenv  # Untuk mengelola variabel lingkungan (opsional, jika ada konfigurasi rahasia)
schedule  # Untuk menjalankan tugas periodik (misalnya, memantau saldo)
